@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: darkblue;
  /* height: 100vh; */
}

.postal {
  background-color: whitesmoke;
  height: 450px;
  width: 800px;
}

.photo {
  height: 310px;
  width: 550px;
}
